body{

    background-color:#263238;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}

h1{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    font-weight:bold;

}

.first{
    
    padding:30px;

}

.second{

    background-color: #1565C0;
    margin-top:-16px;
    padding:30px;

}

.third{

    background-color:#42A5F5;
    margin-top:-16px;
    padding:30px;

}

mark{
    background-color: gray;
}